<div class="navigation col-lg-12">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">{{title}}</a>
            </div>

            <ul class="nav navbar-nav" *ngIf="identity">
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">
                        <span class="glyphicon glyphicon-home"> Inicio</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-th-list"> TimeLine</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user"> Gente</span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
                <li>
                    <a [routerLink]="['/login']" [routerLinkActive]="['active']">
                        <span class="glyphicon glyphicon-log-in"> Login</span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/register']" [routerLinkActive]="['active']">
                        <span class="glyphicon glyphicon-user"> Register</span>
                    </a>
                </li>
            </ul>            
        </div>
    </nav>
</div>

<router-outlet></router-outlet>