<div class="col-lg-4 sidebar-32">
    <h1 class="h1-strong">Hello {{ identity.name }}</h1>
</div>

<div id="user-card" class="col-lg-4 panel panel-default pull-left">
    <div class="avatar pull-left">
        <img src="{{ url + 'get-image-user/' + identity.image }}" alt="Profile Image" *ngIf="identity.image" />
        <img src="assets/user.png" alt="Profile Image" *ngIf="!identity.image" />
    </div>

    <div class="name_surname pull-left">
        <a href="#" class="username">
            {{ identity.name + ' ' + identity.surname }}
        </a>
        <p class="nickname">{{ identity.nick }}</p>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div class="stats" *ngIf="stats">
        <div class="following-data">
            <a href="#">
                <span class="label-stats">Following  </span>
                <span class="number-stats">{{ stats.following }}</span>
            </a>
        </div>

        <div class="following-data">
            <a href="#">
                <span class="label-stats">Followers  </span>
                <span class="number-stats">{{ stats.followed }}</span>
            </a>
        </div>

        <div class="following-data">
            <a href="#">
                <span class="label-stats">Publications  </span>
                <span class="number-stats">{{ stats.publications }}</span>
            </a>
        </div>
    </div>
</div>