<div class="col-lg-8">
    <h1 class="h1-strong">{{title}}</h1>

    <div id="publications">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image_user pull-left">
                        <a href="#">
                            <img src="{{ url + 'get-image-user/' + publication.user.image }}" alt="Image Profile" *ngIf="publication.user.image" />
                            <img src="assets/user.png" alt="Image Profile" *ngIf="!publication.user.image" />
                        </a>
                    </div>
                    
                    <h4 class="username">{{ publication.user.name  + ' ' + publication.user.surname }}</h4>

                    <div class="publication-text pull-left">
                        {{ publication.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 text-center">
        <p><button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">See more posts</button></p>
    </div>    
</div>    

<app-sidebar></app-sidebar>

<div class="clearfix"></div>