@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navigation .navbar * {
    color: white !important;
}

.navigation {
    padding: 0 !important;

    & .navbar {
        border-radius: 0 !important;
        background: #e53c37 !important;
        border: none;
    }
}