@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: url(../assets/bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    width: 10px;
    background: #23243c;
    border-left: 0 solid white;
    border-right: 0 solid white;
}

::-webkit-scrollbar-thumb{
    background-color: #1b9bff;
    background-image: linear-gradient(315deg, #1b9bff 0%, #3eadcf 74%);
    width: 0;
    height: 15%;
    transition: 0.5s ease;
    cursor: pointer;
}

button, button:focus {
    outline: none !important;
}

.h1-strong {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: #fff;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 80px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 1000;

    & label.logo{
        color: white;
        font-size: 35px;
        font-weight: bold;
    }

    & ul{
        & li{
            display: inline-block;
            margin: 0 5px;

            & a{
                color: white;
                font-size: 17px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;

                &.active,&:hover{
                    background: #1b9bff;
                    transition: .5s;
                }
            }
        }
    }

    & .checkbtn{
        font-size: 30px;
        color: white;
        cursor: pointer;
        display: none;
    }

    & #check{
        display: none;
    }

    & .dropdown-menu {
        color: #eee !important;

        & li {
            cursor: pointer;
        }
    }

    & .avatar {
        width: 35px;
        height: 35px;
        border-radius: 100px;
        overflow: hidden;
        margin-top: 9px;
        margin-right: 3px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media (max-width: 952px){
    nav {
        & label.logo{
            font-size: 30px;
            padding-left: 50px;
        }
        &  nav ul li a{
            font-size: 16px;
        }
    }
}

@media (max-width: 858px){
    nav {
        & .checkbtn{
            display: block;
        }
        & ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(10px);
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            z-index: 1000;

            & li:nth-child(1) {
                margin-top: 35px;
            }

            & li{
                display: block;
                width: 100%;
                line-height: 30px;
                margin-top: 7px;

                & a{
                    color: #333;
                    font-size: 20px;

                    &:hover,&.active{
                        background: none;
                        color: #0082e6;
                    }
                }
            }
        }
        & #check:checked ~ ul{
            left: 0;
        }
    } 
}

@media (max-width: 410px) {
    nav {
        & label.logo{
            color: white;
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.container-page {
    margin-top: 120px !important;
    padding: 0 30px;
}

.people {
    min-height: 500px;
}

.login-container{
	position: relative;
    height: 100vh;

    & .login-inputs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        
        & h1{
            color: #fff;
            font-size: 3rem;
            letter-spacing: 3px;
            margin:10px;
            text-transform: uppercase;
            text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
            font-weight: bold;
        }

        & form{
            background-color: #23243c;
            box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
            border-radius: 10px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & p {
                position: relative;
                width: 100%;
            }

            & input{
                margin:10px;
                width:300px;
                height: 35px;
                background-color: #434459;
                border-radius: 7px;
                border: none;
                outline: none;
                color:#fff;
                padding:5px 10px;

                &::placeholder{
                    color:#727383;
                }
            }

            & span {
                color:#fff;
                text-align: right;
            }
        }
    }
}

button.btn-sofka{
    position: relative;
    display: block;
    margin: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #848a8f;
    background-color: rgba(41, 205, 255, 0);
    background-image: linear-gradient(150deg, rgba(40, 125, 236, 0.2), rgba(41, 187, 255, 0.1));
    background-size: calc(100% - 15px) calc(100% - 15px);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 0 1px rgba(41, 187, 255, 0.1), inset 0 0 0 1px rgba(41, 152, 255, 0.1);
    transform: translateZ(0);
    transition: transform 0.1s;

    &:hover {
        background-color: #1b9bff;
        box-shadow: 0 0 15px 1px rgba(41, 152, 255, 0.4), inset 0 0 0 1px #1b9bff;
        transition: transform 0.1s;
        color: #fff;
    }

    &:active {
        transform: scale(0.9);
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        width: 4px;
        background-color: #1b9bff;
        animation-name: comet;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-timing-function: linear;
        animation-delay: -0.3;
        border-radius: 50%;
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
        transition: all 4s;
    }

    &:before {
        animation-duration: 2s;
    }

    &:after {
        animation-duration: 2.5s;
    }

    &:hover:before,
    &:hover:after {
        opacity: 0;
        filter: blur(2px);
        transform: translateX(-50%) translateY(-50%) scale(2);
        box-shadow: 0 0 15px 1px #1b9bff, 0 0 2px rgba(41, 169, 255, 0.7), 0 0 2px rgba(41, 169, 255, 0.5), 0 0 2px rgba(41, 169, 255, 0.3), 0 0 1px rgba(41, 230, 255, 0.25);
        transition: all 0.7s;
    }
}

@keyframes comet {
	0% {
		top: 0;
		left: 0;
		box-shadow: 0 0 15px 1px #1b9bff, 0 0 2px rgba(41, 177, 255, 0.7), 0 0 2px rgba(41, 187, 255, 0.5), 0 0 2px rgba(41, 194, 255, 0.3), 0 0 1px rgba(41, 194, 255, 0.25);
		animation-timing-function: ease-in;
	}

	15% {
		top: 0;
		left: 50%;
		box-shadow: 0 0 15px 1px #1b9bff, -4px 0 2px rgba(41, 141, 255, 0.7), -8px 0 2px rgba(41, 194, 255, 0.5), -12px 0 2px rgba(41, 205, 255, 0.3), -14px 0 1px -1px rgba(41, 205, 255, 0.25);
		animation-timing-function: ease-out;
	}

	30% {
		top: 0;
		left: 100%;
		box-shadow: 0 0 15px 1px #1b9bff, 0 0 2px rgba(41, 152, 255, 0.7), 0 0 2px rgba(41, 169, 255, 0.5), 0 0 2px rgba(41, 223, 255, 0.3), 0 0 1px rgba(41, 212, 255, 0.25);
		animation-timing-function: ease-in;
	}

	40% {
		top: 50%;
		left: 100%;
		box-shadow: 0 0 15px 1px #1b9bff, 0 -4px 2px rgba(41, 177, 255, 0.7), 0 -8px 2px rgba(41, 248, 255, 0.5), 0 -12px 2px rgba(41, 187, 255, 0.3), 0 -14px 1px rgba(41, 230, 255, 0.25);
		animation-timing-function: ease-out;
	}

	50% {
		top: 100%;
		left: 100%;
		box-shadow: 0 0 15px 1px #1b9bff, 0 0 2px rgba(41, 159, 255, 0.7), 0 0 2px rgba(41, 212, 255, 0.5), 0 0 2px rgba(41, 205, 255, 0.3), 0 0 1px rgba(41, 241, 255, 0.25);
		animation-timing-function: ease-in;
	}

	65% {
		top: 100%;
		left: 50%;
		box-shadow: 0 0 15px 1px #1b9bff, 4px 0 2px rgba(41, 177, 255, 0.7), 8px 0 2px rgba(41, 223, 255, 0.5), 12px 0 2px rgba(41, 187, 255, 0.3), 14px 0 1px rgba(41, 177, 255, 0.25);
		animation-timing-function: ease-out;
	}

	80% {
		top: 100%;
		left: 0;
		box-shadow: 0 0 15px 1px #1b9bff, 0 0 2px rgba(41, 177, 255, 0.7), 0 0 2px rgba(41, 187, 255, 0.5), 0 0 2px rgba(41, 187, 255, 0.3), 0 0 1px rgba(41, 212, 255, 0.25);
		animation-timing-function: ease-in;
	}

	90% {
		top: 50%;
		left: 0;
		box-shadow: 0 0 15px 1px #1b9bff, 0 4px 2px rgba(41, 205, 255, 0.7), 0 8px 2px rgba(41, 177, 255, 0.5), 0 12px 2px rgba(41, 187, 255, 0.3), 0 14px 1px rgba(41, 177, 255, 0.25);
		animation-timing-function: ease-out;
	}

	100% {
		top: 0;
		left: 0;
		box-shadow: 0 0 15px 1px #1b9bff, 0 0 2px rgba(41, 230, 255, 0.7), 0 0 2px rgba(41, 212, 255, 0.5), 0 0 2px rgba(41, 194, 255, 0.3), 0 0 1px rgba(41, 205, 255, 0.25);
		animation-timing-function: ease-in;
	}
}


#noPublications {
    width: 100%;
    padding: 40px;
    background-color: #23243c !important;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 7px;
    text-align: center;

    & .ohhh {
        display: flex;
        justify-content: center;

        & img.asteroid {
            height: 30px;
            animation: animate2 3s linear infinite;
        }
    
        & img.asteroid1 {
            padding-right: 17px;
        }
    
        & img.asteroid2 {
            padding-left: 17px;
        }
    }

}

.noPublicationsTimeLine {
    min-height: 220px;
}

@keyframes animate2 {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px);
    }
}