@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: url(../assets/bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    width: 10px;
    background: #23243c;
    border-left: 0 solid white;
    border-right: 0 solid white;
}

::-webkit-scrollbar-thumb{
    background-color: #1b9bff;
    background-image: linear-gradient(315deg, #1b9bff 0%, #3eadcf 74%);
    width: 0;
    height: 15%;
    transition: 0.5s ease;
    cursor: pointer;
}

button, button:focus {
    outline: none !important;
}

.h1-strong {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

nav{
    background-color: #23243c;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    & label.logo{
        color: white;
        font-size: 35px;
        font-weight: bold;
    }

    & ul{
        & li{
            display: inline-block;
            margin: 0 5px;

            & a{
                color: white;
                font-size: 17px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;

                &.active,&:hover{
                    background: #1b9bff;
                    transition: .5s;
                }
            }
        }
    }

    & .checkbtn{
        font-size: 30px;
        color: white;
        cursor: pointer;
        display: none;
    }

    & #check{
        display: none;
    }

    & .dropdown-menu {
        color: #eee !important;

        & li {
            cursor: pointer;
        }
    }

    & .avatar {
        width: 35px;
        height: 35px;
        border-radius: 100px;
        overflow: hidden;
        margin-top: 9px;
        margin-right: 3px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media (max-width: 952px){
    nav {
        & label.logo{
            font-size: 30px;
            padding-left: 50px;
        }
        &  nav ul li a{
            font-size: 16px;
        }
    }
}

@media (max-width: 858px){
    nav {
        & .checkbtn{
            display: block;
        }
        & ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #2c3e50;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            z-index: 1000;

            & li:nth-child(1) {
                margin-top: 35px;
            }

            & li{
                display: block;
                width: 100%;
                line-height: 30px;
                margin-top: 7px;

                & a{
                    font-size: 20px;

                    &:hover,&.active{
                        background: none;
                        color: #0082e6;
                    }
                }
            }
        }
        & #check:checked ~ ul{
            left: 0;
        }
    } 
}

.people {
    min-height: 500px;
}

.login-container{
	position: relative;
    height: 100vh;

    & .login-inputs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: calc(100% - 80px);
        
        & h1{
            color: #fff;
            font-size: 3rem;
            letter-spacing: 3px;
            margin:10px;
            text-transform: uppercase;
            text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
            font-weight: bold;
        }

        & form{
            background-color: #23243c;
            box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
            border-radius: 10px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & p {
                position: relative;
                width: 100%;
            }

            & input{
                margin:10px;
                width:300px;
                height: 35px;
                background-color: #434459;
                border-radius: 7px;
                border: none;
                outline: none;
                color:#fff;
                padding:5px 10px;

                &::placeholder{
                    color:#727383;
                }
            }

            & span {
                color:#fff;
                text-align: right;
            }

            & button{
                text-transform: uppercase;
                width:110px;
                height: 35px;
                border-radius: 20px;
                border: none;
                outline: none;
                margin:5px;
                font-weight:600;
                background-color:#3b70e0;
                color:#fff;
                font-size:12px;
                font-family: poppins;
                letter-spacing: 1px;

                &:hover{
                    background-color: #1b9bff;
                    transition: all ease 0.3s;
                }
            }
        }
    }
}