<div class="col-lg-4">
    <h3>{{title}}</h3>
    <div class="sidebar-admin">
        <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
            <li role="presentation">
                <a href="#">Send Messages</a>
            </li>
            <li role="presentation">
                <a href="#">Received Messages</a>
            </li>
            <li role="presentation">
                <a href="#">Sent Messages</a>
            </li>
            <li role="presentation">
                <a href="#">Information</a>
            </li>
        </ul>
    </div>
</div>

<div class="col-lg-8">
    
</div>