<div class="container-page">
    <div class="col-lg-4 main-message">
        <h3>{{title}}</h3>
        <div class="sidebar-admin">
            <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                <li role="presentation" [routerLinkActive]="['active']">
                    <a [routerLink]="['send']">Send Messages</a>
                </li>
                <li role="presentation" [routerLinkActive]="['active']">
                    <a [routerLink]="['received',1]">Received Messages</a>
                </li>
                <li role="presentation" [routerLinkActive]="['active']">
                    <a [routerLink]="['sent',1]">Sent Messages</a>
                </li>
                <li role="presentation">
                    <a [routerLink]="['/home']">Information</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="col-lg-8">
        <router-outlet></router-outlet>
    </div>
</div>