<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        You have successfully logged in, welcome!!!
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        You could not identify yourself correctly, try again! !!
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
        <p>
            <label>Email *</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <span *ngIf="!email.valid && email.touched">Email is required!!!</span>
        </p>

        <p>
            <label>Password *</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
            <span *ngIf="!password.valid && password.touched">The password is mandatory!!!</span>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!loginForm.form.valid" />
    </form>
</div>