<section class="login-container">
    <div class="alert alert-success alert-login" *ngIf="status == 'success'">
        Registration completed successfully,  
        <a [routerLink]="['/login']">
            Sign in here
        </a>
    </div>

    <div class="alert alert-danger alert-login" *ngIf="status == 'error'">
        The registration could not be completed, maybe your email or nickname is already in use, try again with other data
    </div>

	<div class="login-inputs">
        <h1>{{title}}</h1>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <input type="text" name="name" id="name" placeholder="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required>
            <span *ngIf="!name.valid && name.touched">The name is required!!!</span>
        
            <input type="text" name="surname" id="surname" placeholder="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required>
            <span *ngIf="!surname.valid && surname.touched">Last names are required!!!</span>

            <input type="text" name="nick" id="nick" placeholder="nickname" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required>
            <span *ngIf="!nick.valid && nick.touched">The nickname is required!!!</span>

            <input type="email" name="email" id="email" placeholder="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <span *ngIf="!email.valid && email.touched">Email is required!!!</span>

            <input type="password" name="password" id="password" placeholder="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
            <span *ngIf="!password.valid && password.touched">The password is mandatory!!!</span>
        
            <button type="submit" class="btn-sofka" [disabled]="!registerForm.form.valid">{{title}}</button>
        </form>
	</div>
</section>