<section class="login-container">
    <div class="alert alert-success" *ngIf="status == 'success'">
        Your details have been updated correctly
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        Your data could not be updated
    </div>

    <div class="login-inputs">
        <h1>{{title}}</h1>
        <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">
            <input type="text" name="name" id="name" placeholder="Name *" #name="ngModel" [(ngModel)]="user.name" class="form-control" required>
            <input type="text" name="surname" id="surname" placeholder="Surnames *" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required>
            <input type="text" name="nick" id="nick" placeholder="Nickname *" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required>
            <input type="email" name="email" id="email" placeholder="Email *" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div *ngIf="user.image">
                <img src="{{ url + 'get-image-user/' + user.image }}" alt="Profile Image" style="width: 100px; height: 100px; border-radius: 50%">
            </div>
            <input type="file" name="image" id="image" placeholder="Upload image" (change)="fileChangeEvent($event)">

            <button type="submit" value="{{title}}" class="btn-sofka" [disabled]="!userEditForm.form.valid">{{title}}</button>
        </form>
	</div>
</section>