<div id="publications" *ngIf="publications && publications.length != 0"
    [class.publicationOne]="publications.length == 1"
    [class.publicationTwo]="publications.length == 2"
    [class.publicationFour]="publications.length == 3"
>
    <div *ngFor="let publication of publications" class="item-publication">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="image_user pull-left">
                    <a href="#">
                        <img src="{{ url + 'get-image-user/' + publication.user.image }}" alt="Image Profile" *ngIf="publication.user.image" />
                        <img src="assets/user.png" alt="Image Profile" *ngIf="!publication.user.image" />
                    </a>
                </div>
                
                <div>
                    <span class="username">
                        {{ publication.user.name  + ' ' + publication.user.surname }}
                    </span>
                    &nbsp; | &nbsp; 
                    <span class="data">
                        {{ (publication.created_at | amFromUnix) | amTimeAgo }}
                    </span>
                </div>

                <h4 class="publication-text pull-left">
                    {{ publication.text }}
                </h4>
            </div>
        </div>
    </div>
</div>

<div id="noPublications" *ngIf="publications && publications.length == 0">
    <div class="ohhh">
        <img src="../../../assets/asteroid4.png" class="asteroid asteroid1" alt="">
        <h3>¡Ohhh!</h3>
        <img src="../../../assets/asteroid4.png" class="asteroid asteroid2" alt="">
    </div>
    <p>Sorry this user has not made any posts</p>
</div>

<div class="col-lg-12 text-center" *ngIf="publications && publications.length && pages >= 2">
    <p><button class="btn-sofka" (click)="viewMore()" *ngIf="!noMore">See more posts</button></p>
</div>   